.popup__input {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    margin: 54px 36px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 13px 0;
    width: 358px;
}

.popup__input::placeholder {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.popup__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

@media (max-width: 320px) {
    .popup__input {
        margin: 75px 22px 0;
        max-width: 238px;
    }
}
